[Desktop Entry]
Version=1.0
Categories=GNOME;Law;Web;
Icon=accessories-dictionary
Name=CiteURL
Comment=GNOME Shell search provider for CiteURL
Terminal=false
Type=Application
OnlyShowIn=GNOME;
